# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
.todo
.python-version
reports/graphs/emotion_bar-(2022, 35)-(2023, 3).html
reports/graphs/emotion-prob_bar-(2022, 35)-(2023, 3).html
reports/graphs/sentiment_bar-(2022, 35)-(2023, 3).html
reports/graphs/sentiment-prob-bar-(2022, 35)-(2023, 3).html
reports/graphs/top30_bar-(2022, 35)-(2023, 3).html
models/3-analyzer.pkl
models/3-emotion-analyzer.pkl
reports/emotion_bar-(2022, 35)-(2023, 3).html
reports/emotion-prob_bar-(2022, 35)-(2023, 3).html
reports/sentiment_bar-(2022, 35)-(2023, 3).html
reports/sentiment-prob-bar-(2022, 35)-(2023, 3).html
reports/dashboard/Untitled.afdesign
reports/figures/1-scatter-tweeets-per-newspaper-(2022, 35)-(2023, 3).jpg
reports/figures/1-tweeets-per-newspaper.jpg
reports/figures/2-raw-engagement.png
reports/figures/2-runique-words.png
reports/figures/2-top30-words.png
reports/figures/3-emotion-probability.png
reports/figures/3-sentiment-probability.png
conf/local/credentials.yml
